body {
    text-align: center;
    font-family: cursive;
    background-color: black;
    color: orange;
}

.title {
    background-color: black;
    color: orange;
    font-family: 'Creepster', cursive;
    font-size: 35px;
}

.intro {
    color: orange;
    background-color: black;
    font-size: 25px;
}

.container {
    background:white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
#poster{
    width: 250px;
}
.films{
    font-size: 25px;
    
}
.movie{
    font-size: 25px;
    
    
}

ul{

    list-style-type: none;
    line-height: 1.6;
}
#title{

font-family: 'Creepster', cursive;

}
